#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
SCONS=scons 
DEB_DESTDIR=$(CURDIR)/debian/tmp

%:
	dh $@

override_dh_auto_build:
	$(SCONS) PREFIX=$(DEB_DESTDIR)/usr

override_dh_auto_clean:
	dh_clean
	$(SCONS)  -c

override_dh_auto_install:
	$(SCONS) install PREFIX=$(DEB_DESTDIR)/usr

override_dh_test:
	scons test
